<footer class="<%= footerClass %>">
  <div class="container">
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <p>© Tripore Private Limited</p>
    <a href="#">Privacy Policy</a> | <a href="#">Terms</a>
  </div>
</footer>
