<% layout("/layouts/boilerplate") %>
<body>
    <h3>Add New Listing</h3>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title">
        <br>
        <textarea name="listing[description]" placeholder="Description"></textarea>
        <br>
        <input name="listing[image]" placeholder="Image URL" type="text">
        <br>
        <input type="number" name="listing[price]" placeholder="Price">
        <br>
        <input type="text" name="listing[location]" placeholder="Location">
        <br>
        <input type="text" name="listing[country]" placeholder="Country">
        <br>
        <button>Add Listing</button>
    </form>
    
</body>
